{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="my-5 text-danger"><i class="fa fa-ban"></i> La Consulta está cerrada.</h2>

    <a href="{{ path('respuesta_index') }}">Resultados</a>

{% endblock %}